<div class="wrapper">
  <div class="landing-page">
    <div style="text-align:center;" class="icon__download">
      <img
        src="https://pngimg.com/uploads/attention/attention_PNG64.png"
        alt=""
        width="100"
        height="100"
      />
    </div>
    <h1> 404 Error.</h1>
    <p> We can't find the page you're looking for.</p>
    <a href="/"><button>Back to home</button></a>
  </div>
</div>